body {
    margin: 0;
    font-family: sans-serif;
}

#page-heading {
    margin: 25px;
    color: grey;
    text-align: center;
}

#contacts-list-container ul {
    margin-left: 520px; 
    margin-right: 520px;
    padding: 0px;
    list-style: none;
   
}

.contact {
    border: 1px solid white;
    background-color: #6f92f9;
    color: white;
    box-shadow: 1px 1px 1px 1px lightgrey;
    display: flex;

}

.contact .delete-button {
    display: flex;
    width: 10%;
    margin-top: 16px;
    padding-left: 25px;
    height: 16.4px;
}

.contact .delete-button a {
    color: white;
    background-color: red;
}

.contact:hover {
    background-color: gray;
}

.contact .details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; 
    width: 90%;
    padding-left: 10px;
}

.bb {
    border-width: 0px 0px 2px;
    border-color: lightgray;
}

.add-btn {
    background-color: gray;
    color: white;
}

#form {
    margin-left: 600px;
}


